@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  --color-brand-green: #008060;
  --color-brand-green-hover: #006e52;
}

body {
  background-color: #F4F4F5;
  color: #18181B;
}
